body{
	min-height:100vh;
	position:relative;
	font-size:20px;
	margin:0px;
	font-family:serif, sans-serif, cursive, fantasy;
	}

.banner{
	background-image:url("images/banner7.jpg");
	height:450px;
	text-align:center;
	padding:16px;
	border-bottom: 2px solid black;
	}

.banner_txt{
	padding:20px;
	text-align:left;
}

.banner > nav{
	margin:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.banner_btn{
	padding:20px;
	margin:20px;
	text-align:center;
	border-radius:15px;
	box-shadow: 3px 3px 5px gray;
	font-size:20px;
	background-color:black;
	color:white;
}
header{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background-image:url("images/banner7.jpg");
	height:40px;
	padding:20px;
	border-bottom: 2px solid black;
}

header > h1{
	float:left;
	padding:16px;
	margin-top:0px;
	}
header > nav{
	margin:10px;
	margin-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	}
nav{
	float:right;
	border-radius:15px;
	background-color:black;
	}

nav a{
	text-decoration:none;
	padding:30px;
	padding-top:50px;
	padding-bottom:50px;
	color:white;
	
	}

.content{
	width:67%;
	margin-left:16.5%;
	margin-right:16.5%;
	margin-top:16px;
	padding-bottom:90px;
	padding:30px;
	
	}

.content > p{	
	padding:30px;
	}
.img_center{
	text-align: center;
}

main{
	display: flex;
	flex-wrap: wrap;
	height:auto;
	margin-top:70px;
}

img{
	position: relative;
	z-index: 99;
	opacity: 0.8;
}

.first_aside{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 10px;
	margin:30px;
	margin-top: 40px;
	box-shadow: 3px 5px 3px 5px gray;
	border-radius:15px;
	font-size:14px;
	padding:10px;
	height: 500px;
	/* position: relative; */
	}

	.first_aside img{
		margin: 0px;
	}
.first_aside > em{
	font-size: 25px;
	margin:40px;
}



.dash{
	display: flex;
	flex-wrap: wrap;
	/* border: 1px solid black; */
	box-shadow: 3px 5px 3px 5px gray;
	height:250px;
	width: 90%;
	margin:30px;
	border-radius:15px;
}

.dash_img{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 20px;
	margin: 20px;
}

.dash_text{
	text-align: left ;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 40px;
	margin: 40px;
	font-size: 16px;
}

.first_aside a{
	text-decoration:none;
	color: black;
	font-size: 18px;
}
.second_aside{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 150px;
	margin:30px;
	border: 1px solid black;
	border-radius:15px;
	font-size:16px;
	padding:50px;
	height: auto;
	margin-bottom: 70px;
}

article{
	flex-grow: 8;
	flex-shrink: 0;
	flex-basis: 150px;
	text-align:center;
	margin-top: 10px;	
	}


#center_form{
    margin:30px;    
	text-align:center;
	margin-bottom:80px; 
	font-size: 16px;
}
form {
    border: 1px solid lightgray; 
    background-color: white;
    border-radius:15px;
	padding: 12px;
	width: 500px;
	display: inline-block;
   
}

.center_text{
    text-align: center;
}


input[type=text], input[type=password], input[type=date], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
	float: left;
	display: block;
}



.black_bg{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:black;
	color:white;
	margin: 8px;
	border-radius:15px;
}
form button {
    background-color: lightskyblue;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius:15px;
    border:none;
}



form button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}

.grid_container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	font-size:14px;
	margin-top: 40px;
	margin-bottom: 100px;
}

.grid_container h6{
	font-size:12px;

}

footer{
	clear:both;
	position:absolute;
	bottom:0;
	height: 60px;
	width: 100%;
	text-align:center;
	font-weight:bold;
	background-color:black;
	color:white;
	margin-bottom:0px;
	padding:3px;
	font-weight:bold;
	font-style: italic;
	}