body{
	min-height:100vh;
	font-size:20px;
	margin:0px;
	font-family:serif, sans-serif, cursive, fantasy;
	}

.banner{
    background-image: url("./images/banner7.jpg");
	/*background-color:rgb(200, 0, 0);*/
	height:450px;
	text-align:center;
	padding:16px;
	border-bottom: 2px solid black;
	}

.banner_txt{
	padding:20px;
	text-align:left;
	/*color:white;*/
}

.banner_btn{
	padding:20px;
	margin:20px;
	text-align:center;
	border-radius:15px;
	box-shadow: 3px 3px 5px gray;
	font-size:20px;
	background-color:black;
	color:white;
}

nav{
	float:right;
	border-radius:15px;
	background-color:black;
	}

nav a{
	text-decoration:none;
	padding:30px;
	color:white;
	
	}

.content{
	width:67%;
	margin-left:16.5%;
	margin-right:16.5%;
	margin-top:16px;
	padding:30px;
}

.content > p{	
	padding:30px;
    }

footer{
	clear:both;
	text-align:center;
	font-weight:bold;
	background-color:black;
	color:white;
	margin-bottom:0px;
	padding:3px;
	font-weight:bold;
	font-style: italic;
	}